* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    background: linear-gradient(to right, #c5c5c5, #e6e6e6);
}

main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #11649bc7, #199af0c7);
    width: 400px;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font: bold 2.5rem serif;
    border-bottom: solid 4px rgb(0, 0, 0);
    margin-bottom: 20px;
}

.input {
    display: flex;
    width: 75%;
    height: 6%;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);

}

.input input {
    width: 65%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
    color: #000;
}

.input label {
    font: bold 1.5rem serif;
}

button {
    width: 75%;
    height: 6%;
    font: bold 1.2rem serif;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.result {
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    font: 1.5rem serif;
    box-shadow: 0px 0px 10px black;
    background: #000;
    color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
}

@media (max-width:800px) {

    main {
        display: flex;
        width: 100vw;
        min-height: 90vh;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .container {
        width: 95%;
    }

    .title {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 10%;
        font: bold 2.1rem serif;
        border-bottom: solid 4px rgb(0, 0, 0);
        margin-bottom: 20px;
    }

    .input {
        display: flex;
        width: 85%;
        height: 6%;
        justify-content: space-between;
        align-items: center;
        color: rgb(0, 0, 0);

    }

    .input input {
        width: 65%;
        height: 100%;
        border-radius: 5px;
        border: none;
        outline: 0;
        font: bold 1.5rem serif;
    }
    
}